@model ContactModel

@{

}

<h2>Dodaj kontakt</h2>
<form asp-action="Add" method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="FirstName">Imie</label>
        <input class="form-input"type="text" asp-for="FirstName">
        <span asp-validation-for="FirstName"></span>
    </div>
     <div class="mb-3">
        <label class="form-label" asp-for="LastName">Nazwisko</label>
        <input class="form-input"type="text" asp-for="LastName">
        <span asp-validation-for="LastName"></span>
    </div>
     <div class="mb-3">
        <label class="form-label" asp-for="PhoneNumber">Numer telefonu</label>
        <input class="form-input"type="text" asp-for="PhoneNumber">
        <span asp-validation-for="PhoneNumber"></span>
    </div>
     <div class="mb-3">
        <label class="form-label" asp-for="Email">Email</label>
        <input class="form-input"type="text" asp-for="Email">
        <span asp-validation-for="Email"></span>
    </div>
     <div class="mb-3">
        <label class="form-label" asp-for="BirthDay">Data urodzenia</label>
        <input class="form-input"type="text" asp-for="BirthDay">
        <span asp-validation-for="BirthDay"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Category">Category</label>
        <select class="form-input" asp-for="Category" asp-items="@Html.GetEnumSelectList<Category>()">
        </select>
        <span asp-validation-for="Category"></span>
    </div>

    <button type="submit" class="btn btn-nfo">Submit</button>
    <button type="reset"class="btn btn-denger">Edit</button>
</form>