# Ignoruj katalogi systemowe i pliki konfiguracyjne
*.DS_Store
*.log
*.swp
*.swo
*.idea/
*.vscode/
*.venv/
node_modules/
bin/
obj/

# Ignoruj pliki systemowe i osobiste
~/.Trash/
~/.cache/
~/.config/
~/.local/
~/.npm/
~/.zsh_history
~/.zsh_sessions/

# Ignoruj dodatkowe pliki i foldery z wyższych poziomów
../../../.CFUserTextEncoding
../../../.ServiceHub/
../../../.SoulseekQt/
../../../.adobe/
../../../.aspnet/
../../../.atom/
../../../.azuredatastudio/
../../../.cache/
../../../.config/
../../../.docker/
../../../.dotnet/
../../../.gitconfig
../../../.gitflow_export
../../../.gitignore_global
../../../.gnupg/
../../../.hgignore_global
../../../.ipynb_checkpoints/
../../../.ipython/
../../../.jssc/
../../../.jupyter/
../../../.local/
../../../.matplotlib/
../../../.mono/
../../../.msf4/
../../../.mysql_history
../../../.node_repl_history
../../../.nuget/
../../../.nvm/
../../../.oh-my-zsh/
../../../.oracle_jre_usage/
../../../.profile
../../../.python_history
../../../.solution.swp
../../../.sqlite_history
../../../.ssh/
../../../.stCommitMsg
../../../.swp
../../../.templateengine/
../../../.thumbnails/
../../../.viminfo
../../../.vimrc
../../../.vscode/
../../../.wing101-7
../../../.yarnrc
../../../.zcompdump
../../../.zprofile
../../../.zsh_history
../../../.zsh_sessions/
../../../.zshrc
../../../.zshrc.pre-oh-my-zsh
