<form asp-action="Age" method="post">
    <h2>Proszę podaj datę urodzenia w formacie: YYYY-MM-DD</h2>
    <input type="text" name="userDate" placeholder="Type your date of birth"/>
    <button>Submit</button>
</form>