@{
    
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Kalkulator</h2>
            <form asp-action="Result" method="post">
                <div class="mb-3">
                     <input type="number" name="numberX" placeholder="first number"/>
                </div>
                  <div class="mb-3">
                <select name="operation">
                        <option value="add">Dodaj</option>
                        <option value="subtract">Minus</option>
                        <option value="multiply">Pomnoz</option>
                        <option value="divide">Podziel</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="number" name="numberY" placeholder="second number"/>
                </div>
                <div class="mb-3">
                <button class="btn btn-primary" type="submit">Oblicz</button>
            </div>
            </form>
        </div>
    </div>
</div>

@if(ViewBag.Error != null) {
    <p style="color:red;">@ViewBag.Error</p>
}
